body {
	color: black;
	background-color: white;
	background-image: url(asset/images/v-bleu.jpg);
}



a, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover, a:focus {
	color: #F00;
}

body {
	margin: 0;
}

/* header*/
header {
	text-align: center;
	padding-top: 20px;
}

div.logo img {
	margin: 0 auto;
}

/*menu*/
nav {
	box-shadow: 0px 1px 11px brown;
	border-radius: 20px;
	background-color: #fff;
}
nav ul {
	list-style-type: none;
}
nav a, nav a:visited {
	display: block;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 20px 15px;
	font-size: 22px;
}


ul.niv_1 li {
	display: inline-block;
	position: relative;
}

ul.niv_1 > li:hover ul.niv_2 {
	display: block;
}


ul.niv_2{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #fff;
	padding-left: 0;
	box-shadow: 0px 13px 11px brown;
	border-radius: 15px;
}

ul.niv_2 li a,
ul.niv_2 li a:visited {
	text-align: left;
}

ul.niv_2 li a:hover,
ul.niv_2 li a:focus {
	background-color:#000;
	color: #fff;
	border-radius: 15px;
}

div.niv_3 {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height:100px;
	text-align: center;
	overflow: scroll;
	box-shadow: 0px 13px 11px brown;
	border-style: dashed;
	border-color: #C19908;
	border-radius: 10px;
	background-color: #fff;
}

p {
	color: brown;
	text-align: center;
}

/*footer*/
footer {
	box-shadow: 0px 1px 11px brown;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	padding: 20px 100px 20px 100px;

}


footer .right {
	position: absolute;
	top: 0;
	right: 300px;
}

ul.footer_links {
	list-style-type: none;
}

ul.footer_links li {
	display: inline-block;
	padding: 4px 8px;
}